<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/js.cookie.js"></script>
    <script src="~/Scripts/JavaScript_1.js"></script>
    <script src="~/JavaScript.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top nav-styling">
        <div class="col-xs-8 Page-Title">
            RSS-Reader <span class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-xs-4 SortFilter">
            <button class="btn btn-styling" data-toggle="modal" data-target="#FilterFeedModal">
                Filter
            </button>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="nav-styling">
        <div class="copyright col-xs-8">
            &copy; Timo Scheile, Lukas Knapp
        </div>
    </footer>
    <div class="modal fade" id="NewFeedModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Add Custom Feed
                </div>
                    <div class="modal-body" id="NewFeedDiv">

                        <div class="form-group">
                            <label for="link">Link</label>
                            <input type="text" class="form-control" name="link" id="NewFeedLink" placeholder="exapmple-link.com/RSS" />
                        </div>
                        <div class="form-group">
                            <label for="category">Categories</label>
                            <input type="text" class="form-control" name="category" id="NewFeedCategory" placeholder="Category1, Category2, [...]" />
                            <small class="text-muted">Seperate Categories by ','</small>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn" onclick="addFeed()">Add Feed</button>
                        <button class="btn" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FilterFeedModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Filter Feed
                </div>
                <div class="modal-body" id="NewFeedDiv">

                    <div class="form-group">
                        <label for="sources">Sources</label>
                        <input type="text" class="form-control" name="sources" id="FilterChannels" placeholder="YouTube, CNN, [...]" />
                        <small class="text-muted"><input type="checkbox" name="ChannelsExclude" id="ChannelsExclude" />Exclude given sources</small><br />
                    </div>
                    <div class="form-group">
                        <label for="categories">Categories</label>
                        <input type="text" class="form-control" name="categories" id="FilterCategories" placeholder="News, Politics, [...]" />
                        <small class="text-muted"><input type="checkbox" name="CategoriesExclude" id="CategoriesExclude" />Exclude given categories</small><br />
                    </div>
                    <div class="form-group">
                        <label for="titles">Titles</label>
                        <input type="text" class="form-control" name="titles" id="FilterTitles" placeholder="Donald Trump, US-Army, [...]" />
                        <small class="text-muted"><input type="checkbox" name="TitlesExclude" id="TitlesExclude" />Exclude given titles</small><br />
                    </div>

                    <small class="text-muted">
                        Seperate enties by ','
                    </small>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn" data-dismiss="modal" onclick="filterResults()">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WrongLinkModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert-danger">
                    Link is not RSS
                </div>
                <div class="modal-body" id="NewFeedDiv">

                    The submitted link does not contain a RSS-feed, please check the link you provided

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
