<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--<script src="~/Scripts/js.cookie.js"></script>-->
</head>
<body>
    <div class="navbar navbar-fixed-top nav-styling">
        <div class="col-xs-8 Page-Title">
            RSS-Reader <span class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-xs-4 SortFilter">
            <div class="btn btn-styling">
                Sortieren
            </div><br />
            <div class="btn btn-styling">
                Filtern
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="nav-styling">
        <div class="copyright col-xs-8">
            &copy; Timo Scheile, Lukas Knapp
        </div>
    </footer>

</body>
</html>
